.gradient-h {
	background: transparent;
	background: -webkit-gradient(linear, 0% 0%, 100% 0%,
		from(#ff0000),
		color-stop(0.166, #ffff00),
		color-stop(0.333, #00ff00),
		color-stop(0.500, #00ffff),
		color-stop(0.666, #0000ff),
		color-stop(0.833, #ff00ff),
		to(#ff0000)
	);
	height: 20px;
	margin: 5px;
	width: 250px;
}
.gradient-s {
	background: transparent;
	background: -webkit-gradient(linear, 0% 0%, 100% 0%,
		from(#ff0000),
		to(#ffffff)
	);
	height: 20px;
	margin: 5px;
	width: 250px;
}
.gradient-b {
	background: transparent;
	background: -webkit-gradient(linear, 0% 0%, 100% 0%,
		from(#ff0000),
		to(#000000)
	);
	height: 20px;
	margin: 5px;
	width: 250px;
}